In [21]:
import pandas as pd
file = open('source.txt', mode='r')
text = file.read()
text

'Not so simple any more'

In [22]:
file.read() # File gonna read only once

''

In [23]:
file.closed #File connection is not close can be altered not a good practice to keep it open after using it

False

In [24]:
file.close() # To close connection

In [25]:
file.closed

True

**Using with open**

In [26]:
with open('source.txt', mode='w') as file_output:
    file_output.write("Not so simple any more")

In [27]:
with open ('source.txt', mode='rt') as file_output:
    text=file_output.read()

In [28]:
print(text)

Not so simple any more

**Importing CSV with pandas**

In [29]:
Data=pd.read_csv("Lending-company.csv")

In [30]:
type(pd.read_csv("Lending-company.csv"))

pandas.core.frame.DataFrame

In [31]:
pd.read_csv("Lending-company.csv", header=0)

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [32]:
print(Data)

      LoanID     StringID    Product CustomerGender     Location    Region  \
0          1     LoanID_1  Product B         Female   Location 3  Region 2
1          2     LoanID_2  Product D         Female   Location 6  Region 6
2          3     LoanID_3  Product B           Male   Location 8  Region 3
3          4     LoanID_4  Product A           Male  Location 26  Region 2
4          5     LoanID_5  Product B         Female  Location 34  Region 3
...      ...          ...        ...            ...          ...       ...
1038    1039  LoanID_1039  Product B           Male  Location 73  Region 6
1039    1040  LoanID_1040  Product A           Male  Location 82  Region 1
1040    1041  LoanID_1041  Product A   NotSpecified  Location 11  Region 4
1041    1042  LoanID_1042  Product B         Female  Location 26  Region 6
1042    1043  LoanID_1043  Product A   NotSpecified  Location 94  Region 6

      TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0        17600.0  04/07/2018     2200         45          365       3221
1            NaN  02/01/2019     2200         45          365       3161
2        16600.0  08/12/2016     1000         45          365       2260
3        17600.0         NaN     2200         45          365       3141
4        21250.0  28/10/2017     2200         55          365       3570
...          ...         ...      ...        ...          ...        ...
1038     17300.0  29/12/2018     2200         45          365       3251
1039         NaN  28/03/2018     2200         45          365       4090
1040     17300.0  26/04/2018     2200         45          365       4051
1041     16300.0  25/10/2016     1000         45          365       1930
1042     17300.0  15/05/2019     2200         45          365       4451

      AmtPaid60  AmtPaid360        LoanStatus
0          4166       14621            Active
1          4096       16041            Active
2          3205       16340               NaN
3          4166       16321            Active
4          4745       14720            Active
...         ...         ...               ...
1038       4743       16617  Finished Payment
1039       5582       16617  Finished Payment
1040       5143       16617  Finished Payment
1041       3462       15617  Finished Payment
1042       4743       16617  Finished Payment

[1043 rows x 15 columns]

In [33]:
pd.read_csv("Lending-company.csv",index_col="LoanID")

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [38]:
df = pd.DataFrame(data=[["Tayyab", 12000, 23]],columns=['Name','Salary','Age'], index=['A','B','C'])
df

     Name  Salary  Age
A  Tayyab   12000   23
B  Tayyab   12000   23
C  Tayyab   12000   23